.container  {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  width: 100vw;
}
.row {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: calc(80vw / 60);
}

.node {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: white;
  border: 1px solid #007bce;
  display: inline-block;
  height: calc(80vw / 60);
  width: calc(80vw / 60);
}
.inner {
  height: 100%;
  width: 100%;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: #002b32;
    border-radius: 100%;
  }
  10% {
    background-color: #00b4d9;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    background-color: #008fd9;
  }
}

.node-start {
  animation-name: startAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes startAnimation {
  0% {
    transform: scale(0.5);
    background-color: #cb0000;
    border-radius: 100%;
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    background-color: #cb0000;
  }
}

.node-end {
  animation-name: endAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes endAnimation {
  0% {
    transform: scale(0.5);
    background-color: #00ff5a;
    border-radius: 100%;
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    background-color: #00cb48;
  }
}

.node-path {
  animation-name: pathAnimation;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes pathAnimation {
  0% {
    transform: scale(0.3);
    background-color: #ff9b1a;
    border-radius: 100%;
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    background-color: #e18917;
  }
}

.node-wall {
  animation-name: wallAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes wallAnimation {
  0% {
    transform: scale(0.3);
    background-color: #ffffff;
    border-radius: 100%;
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    background-color: #3c3c3c;
  }
}
