.menu {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 10px 5px;
}

label {
  padding: 5px;
  font-weight: bold;
  white-space: nowrap;
}
select {
  padding: 5px;
  border-radius: 5px;
}
button {
  flex: 1 0;
  outline: none;
  color: white;
  height: 31px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.btn-green {
  background-color: #1d7200;
  border: none;
  width: 100px;
}
.btn-red {
  background-color: #aa0000;
  border: none;
  width: 100px;
}
.btn-help {
  background-color: #ffffff;
  width: 31px;
  border-color: #323232;
  color: #323232;
}

.divider {
  margin: 0px 5px;
  background-color: #636363;
  width: 2px;
  height: 100%;
}

.disabled {
  opacity: 0.7;
  pointer-events: none;
}
