<div class="bs-container">
  <div [className]="menuLocked ? 'menu disabled' : 'menu'">

    <div class="form-group">
      <label>Algorithm</label>
      <select>
        <option>Dijkstra's</option>
        <option>A*</option>
        <option>BFS</option>
      </select>
    </div>

    <div class="form-group">
      <label>Speed</label>
      <select>
        <option>Slow</option>
        <option>Normal</option>
        <option>Fast</option>
      </select>
    </div>

    <div class="form-group">
      <button (click)="handleClick()" class="btn-find">Find path!</button>
    </div>

    <div class="form-group">
      <button (click)="handleReset()" class="btn-find">Reset</button>
    </div>

    <div class="form-group">
      <div class="divider">
      </div>
    </div>

    <div class="form-group">
      <label>Grid type</label>
      <select [(ngModel)]="gridTypeSelect" >
        <option [value]="'Unweighted'">Unweighted</option>
        <option [value]="'Weighted'">Weighted</option>
      </select>
    </div>

    <div class="form-group">
      <button class="btn-clear" (click)="newGrid()">New grid</button>
    </div>

  </div>
</div>
